/*VARIABLES*/
:root {
  --primary-blue: #03a9f4;
  --dark-primary-blue: #0288d1;
  --light-primary-blue: #b3e5fc;
  --white: #ffffff;
  --black: #212121;
  --baby-pink: #ffccbc;
  --teal: #009688;
  --dark-grey: #757575;
  --primary-pink: #e91e63;
  --lime: #8bc34a;
}
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--teal);
}
.container {
  max-width: 700px;
  margin: 0 auto;
}
header {
  height: 150px;
  background-color: var(--light-primary-blue);
}
header .container {
  height: 100%;
  align-items: flex-start;
}
#app-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--lime);
}
/*HELPER CLASSES*/

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}
.hidden {
  display: none;
}
.mb-2 {
  margin-bottom: 20px;
}
.primary-text {
  color: var(--primary-blue);
}
.secondary-text {
  color: var(--dark-grey);
  font-weight: 700;
}
.light-text {
  color: var(--teal);
}
.dark-text {
  color: var(--dark-primary-blue);
}
.text-center {
  text-align: center;
}
h1 {
  font-size: 48px;
  font-weight: 400;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}
#main-content {
  justify-content: center;
  width: 100%;
}
/*LOGIN FORM*/
#login {
  background-color: var(--primary-pink);
  padding: 40px 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: -100px;
}
/*FORM ATTRIBUTES*/
input {
  padding: 10px 20px;
  background-color: var(--baby-pink);
  color: var(--black);
  font-weight: 700;
  border: solid var(--black);
}
#loginform {
  margin-top: 10px;
  width: 100%;
}
#loginBtn {
  cursor: pointer;
  background-color: var(--lime);
  height: 40px;
  padding: 0 15px;
}
#loginBtn:hover {
  transform: rotateZ(360deg);
  transition: transform 300ms;
}
/*CHAT*/
#chat {
  background-color: white;
  padding: 25px;
  margin: 25px 0;
  overflow-y: scroll;
  max-height: 555px;
}
#message-left {
  background-color: var(--dark-primary-blue);
  color: white;
  padding: 10px;
  margin-right: 20%;
  margin-bottom: 25px;
  width: 60%;
}
#message-right {
  background-color: var(--lime);
  color: black;
  padding: 10px;
  margin-left: 40%;
  margin-bottom: 25px;
  width: 60%;
}
.message-details {
  justify-content: space-between;
  margin-bottom: 2px;
}
.date {
  font-weight: 700;
  font-size: 11px;
}
.name {
  font-weight: 800;
}
.message-content {
  font-weight: 400;
}
